---
import Education from '@components/Education.astro'
import Info from '@components/Info.astro'
import { ThemeButton } from '@components/jsx/ThemeButton'
import LocaleSwitch from '@components/LocaleSwitch.astro'
import Social from '@components/Social.astro'
import WorkExperience from '@components/WorkExperience.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout>
  <main>
    <div
      class='min-h-dvh min-w-[320px] bg-white text-gray-800 dark:bg-gray-950 dark:text-gray-100'
    >
      <!-- fixed right-0 top-0 z-50 flex size-12 items-center justify-center -->
      <div
        class='fixed right-0.5 top-0.5 z-50 flex items-center justify-center gap-2 p-2'
      >
        <ThemeButton client:load />
        <LocaleSwitch />
      </div>

      <div class='container mx-auto max-w-7xl mt-2 md:mt-0'>
        <div class='grid grid-cols-1 md:grid-cols-12'>
          <Info />

          <!-- Bio -->
          <div class='mx-auto max-w-2xl space-y-16 p-5 md:col-span-8 md:p-10'>
            <Education />
            <WorkExperience />
            <!-- <Projects /> -->
            <Social />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
