<!-- Projects -->
<div>
  <div class='mb-8 border-b-4 border-gray-100 py-2.5 dark:border-gray-900'>
    <h3 class='text-xl font-medium'>Projects</h3>
  </div>
  <ul
    class="relative space-y-6 pl-6 before:absolute before:bottom-0 before:left-0 before:top-0 before:block before:w-1 before:rounded-full before:bg-purple-50 before:content-[''] dark:before:bg-purple-950"
  >
    <li
      class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-purple-200/75 before:bg-white before:content-[''] dark:before:border-purple-800/75 dark:before:bg-gray-950"
    >
      <h4 class='text-sm font-semibold text-purple-600 dark:text-purple-500'>
        Laravel - Vue.js
      </h4>
      <h5 class='mb-2 font-bold'>
        Project Management SaaS -
        <a
          class='font-medium text-black underline hover:text-black/75'
          href='javascript:void(0)'
          >https://example.com</a
        >
      </h5>
      <p class='text-sm/relaxed text-gray-700 dark:text-gray-300'>
        In my role with a Project Management SaaS, I specialize in harnessing
        the power of Laravel and Vue.js to create robust and efficient
        solutions, facilitating seamless project coordination and enhancing the
        user experience within the dynamic realm of software as a service.
      </p>
    </li>
    <li
      class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-purple-200/75 before:bg-white before:content-[''] dark:before:border-purple-800/75 dark:before:bg-gray-950"
    >
      <h4 class='text-sm font-semibold text-purple-600 dark:text-purple-500'>
        Python - React
      </h4>
      <h5 class='mb-2 font-bold'>
        Job Listing SaaS -
        <a
          class='font-medium text-black underline hover:text-black/75'
          href='javascript:void(0)'
          >https://example.com</a
        >
      </h5>
      <p class='text-sm/relaxed text-gray-700 dark:text-gray-300'>
        Within the realm of Job Listing SaaS, I leverage my expertise in Python
        and React to develop innovative solutions, ensuring a streamlined and
        user-friendly platform that enhances the recruitment process and
        transforms the way job opportunities are accessed and managed.
      </p>
    </li>
  </ul>
</div>
<!-- END Projects -->
