<!-- Social -->
<div>
  <div class='mb-8 border-b-4 border-gray-100 py-2.5 dark:border-gray-900'>
    <h3 class='text-xl font-medium'>Social</h3>
  </div>
  <ul
    class="relative space-y-6 pl-6 before:absolute before:bottom-0 before:left-0 before:top-0 before:block before:w-1 before:rounded-full before:bg-purple-50 before:content-[''] dark:before:bg-purple-950"
  >
    <li
      class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-purple-200/75 before:bg-white before:content-[''] dark:before:border-purple-800/75 dark:before:bg-gray-950"
    >
      <h4 class='text-sm font-semibold text-purple-600 dark:text-purple-500'>
        LinkedIn
      </h4>
      <h5 class='mb-2 font-bold'>Work Profile</h5>
      <p>
        <a
          href='javascript:void(0)'
          class='text-sm font-medium text-gray-600 underline hover:text-gray-600/75 dark:text-gray-400 dark:hover:text-gray-400/75'
        >
          https://linkedin.com/shaun.castillo
        </a>
      </p>
    </li>
    <li
      class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-purple-200/75 before:bg-white before:content-[''] dark:before:border-purple-800/75 dark:before:bg-gray-950"
    >
      <h4 class='text-sm font-semibold text-purple-600 dark:text-purple-500'>
        X
      </h4>
      <h5 class='mb-2 font-bold'>Work Profile</h5>
      <p>
        <a
          href='javascript:void(0)'
          class='text-sm font-medium text-gray-600 underline hover:text-gray-600/75 dark:text-gray-400 dark:hover:text-gray-400/75'
        >
          https://x.com/shaun.castillo
        </a>
      </p>
    </li>
    <li
      class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-purple-200/75 before:bg-white before:content-[''] dark:before:border-purple-800/75 dark:before:bg-gray-950"
    >
      <h4 class='text-sm font-semibold text-purple-600 dark:text-purple-500'>
        Facebook
      </h4>
      <h5 class='mb-2 font-bold'>Personal Profile</h5>
      <p>
        <a
          class='text-sm font-medium text-gray-600 underline hover:text-gray-600/75 dark:text-gray-400 dark:hover:text-gray-400/75'
          href='javascript:void(0)'
        >
          https://facebook.com/shaun.castillo
        </a>
      </p>
    </li>
  </ul>

  <!-- Footer -->
  <footer class='mt-20 space-y-2 py-8 text-sm text-gray-600 dark:text-gray-400'>
    <p class='font-semibold'>
      Resume &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>
    </p>
    <p class='inline-flex items-center gap-1'>
      <span>Crafted with</span>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 20 20'
        fill='currentColor'
        data-slot='icon'
        class='hi-mini hi-heart inline-block size-5 text-rose-500'
      >
        <path
          d='m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z'
        ></path>
      </svg>
      <span
        >by
        <a
          href='https://pixelcave.com'
          class='font-medium text-black underline hover:text-black/75 dark:text-white dark:hover:text-white/75'
        >
          pixelcave
        </a></span
      >
    </p>
  </footer>
  <!-- END Footer -->
</div>
<!-- END Social -->
