<!-- Work Experience -->
<div>
  <div class='mb-8 border-b-4 border-gray-100 py-2.5 dark:border-gray-900'>
    <h3 class='text-xl font-medium'>Work Experience</h3>
  </div>
  <ul
    class="relative space-y-6 pl-6 before:absolute before:bottom-0 before:left-0 before:top-0 before:block before:w-1 before:rounded-full before:bg-purple-50 before:content-[''] dark:before:bg-purple-950"
  >
    <li
      class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-purple-200/75 before:bg-white before:content-[''] dark:before:border-purple-800/75 dark:before:bg-gray-950"
    >
      <h4 class='text-sm font-semibold text-purple-600 dark:text-purple-500'>
        2003-2008
      </h4>
      <h5 class='mb-2 font-bold'>Web Designer at Web Inspired LLC</h5>
      <p class='text-sm/relaxed text-gray-700 dark:text-gray-300'>
        As a Web Designer at Web Inspired LLC, I translated my passion for
        aesthetics and functionality into captivating online experiences,
        leveraging my skills to craft visually stunning and user-centric
        websites for enhanced digital engagement.
      </p>
    </li>
    <li
      class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-purple-200/75 before:bg-white before:content-[''] dark:before:border-purple-800/75 dark:before:bg-gray-950"
    >
      <h4 class='text-sm font-semibold text-purple-600 dark:text-purple-500'>
        2008-2020
      </h4>
      <h5 class='mb-2 font-bold'>Freelance Web Developer</h5>
      <p class='text-sm/relaxed text-gray-700 dark:text-gray-300'>
        Embracing the freedom of a Freelance Web Developer, I thrive on the
        diversity of projects, employing my technical prowess to bring clients'
        visions to life through customized and efficient web solutions.
      </p>
    </li>
    <li
      class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-purple-200/75 before:bg-white before:content-[''] dark:before:border-purple-800/75 dark:before:bg-gray-950"
    >
      <h4 class='text-sm font-semibold text-purple-600 dark:text-purple-500'>
        2010-2020
      </h4>
      <h5 class='mb-2 font-bold'>Part Time Web Developer at Web Stories LLC</h5>
      <p class='text-sm/relaxed text-gray-700 dark:text-gray-300'>
        Balancing my commitment as a Part-Time Web Developer at Web Stories LLC,
        I contribute to the team's success by applying my web development
        skills, ensuring seamless digital experiences and collaborating on
        projects that enhance the online presence of the company.
      </p>
    </li>
  </ul>
</div>
<!-- END Work Experience -->
