---
import { getLangFromUrl } from '@i18n/utils'
import { $theme } from '../stores/theme.js'
import '../styles/global.css'
// Supports weights 100-900
import '@fontsource-variable/inter'

const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html
  lang={lang}
  data-theme={$theme.get()}
>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Resume</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    font-family: 'Inter Variable', sans-serif;
  }
</style>
