---
import { getLangFromUrl } from '@i18n/utils'
import SpeedInsights from '@vercel/speed-insights/astro'
import { ClientRouter } from 'astro:transitions'
import { $theme } from '../stores/theme.js'
import '../styles/global.css'
// Supports weights 100-900
import '@fontsource-variable/inter'

const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html
  lang={lang}
  data-theme={$theme.get()}
>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />

    <meta
      name='description'
      content='Desarrollador especializado en .NET Core, PHP, ReactJS, SQL Server, MySQL y Azure. Con experiencia en la creación de soluciones robustas y escalables, me enfoco en desarrollar sistemas ERP y aplicaciones de facturación electrónica que optimizan procesos y potencian la eficiencia empresarial.'
    />

    <meta
      name='author'
      content='Tomas Emanuel Ramirez Abarca'
    />
    <meta
      name='keywords'
      content='desarrollo web, web development, desarrollo de software, software development, .NET Core, PHP, ReactJS, SQL Server, MySQL, Azure, CodeIgniter, ERP, facturación electrónica, electronic invoicing, SOAP, mantenimiento de aplicaciones, application maintenance, integración de sistemas, system integration, programación, programming, desarrollo frontend, frontend development, backend, bases de datos, database management, optimización de rendimiento, performance optimization, UI/UX, StartNet, autofacturación, self-billing, supervisión de programadores, developer supervision, tecnologías web, web technologies, soluciones innovadoras, innovative solutions, SAT 4.0, transacciones fiscales, fiscal transactions, sistemas empresariales, business systems'
    />

    <!-- Meta para Open Graph (Facebook, LinkedIn y WhatsApp) -->
    <meta
      property='og:title'
      content='Tomas Emanuel | Desarrollador de Software'
    />
    <meta
      property='og:description'
      content='Desarrollador experto en .NET Core, PHP, ReactJS, SQL Server, MySQL, Azure y más. Especializado en facturación electrónica y ERP.'
    />
    <meta
      property='og:image'
      content='https://avatars.githubusercontent.com/u/85582567?v=4'
    />
    <meta
      property='og:url'
      content='https://astro-tomas-emanuel-ramirez-abarca-simple-resume.vercel.app/'
    />
    <meta
      property='og:type'
      content='website'
    />

    <!-- Meta para Twitter -->
    <meta
      name='twitter:card'
      content='summary_large_image'
    />
    <meta
      name='twitter:title'
      content='Tomas Emanuel | Desarrollador de Software'
    />
    <meta
      name='twitter:description'
      content='Desarrollador .NET Core, PHP, ReactJS, SQL Server, MySQL, Azure y más. Especializado en facturación electrónica y ERP.'
    />
    <meta
      name='twitter:image'
      content='https://astro-tomas-emanuel-ramirez-abarca-simple-resume.vercel.app/'
    />

    <title>Tomas Emanuel Ramirez Abarca - Resume</title>
    <ClientRouter />
    <SpeedInsights />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    font-family: 'Inter Variable', sans-serif;
  }
</style>
